<h1>Users</h1>
<div class="users-table">
  <input type="text" [(ngModel)]="searchInput" (ngModelChange)="searchChange($event)">
  <button (click) = "searchClear()">Clear</button>
  <button (click) = "search()">Search</button>
  <table>
    <thead>
    <tr>
      <td>ID</td>
      <td>Username</td>
      <td>Name</td>
      <td>E-mail</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users$ | async" (click)="navigateToUser(user.id)">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
    </tr>
    </tbody>
  </table>
</div>
