table{
  border-collapse: collapse;
  margin-bottom: 1rem;
  tr, td{
    border-collapse: collapse;
  }
  td{
    border: 1px solid black;
    padding: 0.5rem;
  }
  thead td{
    font-weight: bolder;
  }
  tbody tr{
    background-color: transparent;
    transition-duration: 500ms;
    transition-property: background-color;
    &:hover{
      background-color: rgba(25, 118, 210, 0.3);
      transition-duration: 500ms;
      transition-property: background-color;
    }
  }
}
