:host{
  display: flex;
  flex-direction: column;
}


.main{
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: row;
}
app-sidenav{
  flex: 1 1 200px;
}
.content{
  flex: 5;
  padding: 0.5rem 1rem;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}
