:host{
  background-color: white;
}

.sidenav-wrapper{
  height: 100%;

  .nav-wrapper{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;

    .nav-item{
      border-bottom: 1px #1976d2 solid;
      padding: 0.5rem;
      color: black;
      transition-duration: 500ms;

      a{
        text-decoration: none;
        color: black;
      }

      &:hover a{
        color: #1976d2;
        transition-duration: 500ms;
      }
    }
  }

}
